:root {
    --primary-color: #645E59;
    --secondary-color: rgb(238, 239, 233, 0.65);
    --third-color: #F7644D;
}

p {
    text-align: center;
    font-weight: 600;
    font-size: clamp(12px, 2.3vw, 18px);
}

.developer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.developer h4 {
    font-size: clamp(16px, 2vw, 20px)
}

.headshotImg {
	border-radius: 50%;
	max-width: 150px;
	padding: 10px;
}

.img-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    min-width: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
}

.main-title {
    font-size: clamp(16px, 3.5vw, 28px);
    color: var(--third-color);
    background-color: var(--secondary-color);
    margin: 0 19%;
    padding: 0.1em;
    text-align: center;
    max-height: 25%;
}

.random-btn a {
    color: var(--third-color);
    border: var(--primary-color) 3px solid;
    background-color: var(--secondary-color);
    font-size: clamp(16px, 3vw, 32px);
    margin: 44%;
    padding: 0.3em;
    font-weight: 600;
}

.random-recipe-card {
    display: flex;
    justify-content: center;
    max-width: 85%;
    margin: 2em auto;
    flex-wrap: wrap;
}

.random-recipe-card a {
    padding: 1em;
    max-width: 25%;
}

.random-recipe-card img {
    max-width: 100%;
    object-fit: contain;
}

@media(max-width: 475px) {
    .img-card {
        border: 1px solid var(--primary-color);
    }
    .random-recipe-card a {
        max-width: 35%;
    }
}