:root {
    --primary-color: #645E59;
    --secondary-color: rgb(238, 239, 233, 0.65);
    --third-color: #F7644D;
}

p {
    text-align: center;
    font-weight: 600;
    font-size: 2.3vw;
}

.img-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    min-width: 50%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 3px solid var(--secondary-color);
}

.main-title {
    font-size: 3.5vw;
    color: var(--third-color);
    border: var(--primary-color) 2px solid;
    background-color: var(--secondary-color);
    margin: 0 19%;
    padding: 0.1em;
    text-align: center;
    max-height: 25%;
}

.random-btn a {
    color: var(--third-color);
    border: var(--primary-color) 3px solid;
    background-color: var(--secondary-color);
    font-size: 3vw;
    margin: 44%;
    padding: 0.3em;
    font-weight: 600;
}

.random-recipe-card {
    display: flex;
    justify-content: center;
    max-width: 85%;
    margin: 2em auto;
}

.random-recipe-card a {
    padding: 1em;
    max-width: 33%;
}

.random-recipe-card img {
    max-width: 100%;
    height: 75%;
}

