h4 {
    font-size: 2vw;
}

li {
    font-size: 1.5vw;
}

.bottom_section {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 2px solid var(--primary-color);
}

.ingredients {
    grid-column: 1 / 2;
}

.instructions {
    grid-column: 2 / 3;
}

.summary {
    text-align: center;
    padding: 0.5em 1em;
    font-weight: 600;
    font-size: 1.6vw;
}

.title {
    font-size: 2.8vw;
    max-height: 3em;
    color: var(--third-color);
    border: var(--primary-color) 2px solid;
    background-color: var(--secondary-color);
    margin: 4% 19%;
    padding: 0.4em;
    text-align: center;
}

@media (max-width: 475px) {
    li {
        font-size: 2vw;
    }

    .summary {
        background-color: var(--secondary-color);
        border: 1px solid var(--primary-color);
        font-size: 2vw;
    }  
}
