a {
  text-decoration: none;
}

/* Article used to make responsive background-image https://www.browserstack.com/guide/how-to-make-images-responsive */

body {
  background-image: url(./components/nordwood-themes-Tmz8FThN_BE-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: bisque;
  font-family: 'Playfair Display',
    serif;
}

.container {
  height: 100vh;
}