.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; 
    padding: 0 5em 1em;
    margin: 1em auto;
    border: var(--primary-color) 2px solid;
    background-color: var(--secondary-color);
    max-width: 80%;
}

.logo {
    color: var(--third-color);
    padding: 0.3em;
    font-size: 2em;
    font-weight: 700;
}

.about-link , .search {
    color: var(--third-color);
    font-size: 1.4em;
    font-weight: 600;
    padding: 0.2em 0.4em;
}

.about {
    background-color: rgb(227, 227, 227, 0.7);
    border: 1px solid var(--primary-color);
    padding: 1em;
    margin: 3em auto;
    max-width: 60%;
    font-size: 1.1em;
}