.about {
    background-color: rgb(227, 227, 227, 0.7);
    border: 1px solid var(--primary-color);
    padding: 1em;
    margin: 3em auto;
    max-width: 60%;
    font-size: clamp(16px, 1.1vw, 20px);
}

.about-link, .search {
    color: var(--third-color);
    font-size: clamp(16px, 2.5vw, 24px);
    font-weight: 600;
    padding: 0.2em 0.4em;
}

.logo {
    color: var(--third-color);
    padding: 0.3em;
    font-size: clamp(20px, 4vw, 40px);
    font-weight: 700;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; 
    padding: 0 1em 0.4em;
    max-width: 80%;
    margin: 2em auto;
    border-bottom: var(--primary-color) 2px solid;
    background-color: var(--secondary-color);
}
